# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual environments
.venv/
env/
venv/

# Data & artifacts (default ignore big stuff)
mlruns/
models/
*.parquet
*.pkl
*.7z
*.zip
*.csv

# Ignore big/raw data folders (keep local)
data/raw/
data/processed/
data/**/raw/
data/**/processed/

# Allow small samples + docs to be committed
!data/**/sample/
!data/**/sample/**
!data/**/README.md
!data/**/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
*.log
