# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual environments
.venv/
env/
venv/

# Data & artifacts
data/raw/*
data/processed/*
mlruns/
models/
*.parquet
*.pkl
*.7z
*.zip
*.csv

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
*.log
